body{
  background-color: rgb(17, 17, 17);
}
.h1{
  font-family: sans-serif;
  font-size: 250%;
  color: yellow;
  margin-top: 3%;
  margin-bottom: 3%;
}
.forms{
  background-color: blanchedalmond;
}

.form{
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}

.form-check{
  color: whitesmoke;
  margin-left: 2%;
}

.pergunta{
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 16px;
  font-family: sans-serif;
  color: whitesmoke;
}

.btn{
  margin-top: 5%;
  margin-left: 40%;
  color: rgb(255, 255, 255);
}

.p{
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 16px;
  font-family: sans-serif;
  color: whitesmoke;
}

.resposta{
  color: white;
  margin-left: 3%;
}
